body {
    padding: 50px;
    background-color: #ebe0c9;
    margin: 50px;
    border-width: 2px;
    border-style: solid;
    border-color: #000000;
    font-family: Arial, sans-serif;
}

h1, h2 {
    color: #2c3e50;
}
h1 {
     text-align: center;
    margin-bottom: 30px;
}
a {
    text-decoration: none;
    color: #2980b9;
    font-size: 18px;
}
li {
    font-size: 16px;
    line-height: 1.6;
}
